h2{
  color: white
}

p{
  color: slategray;
}
body {
  width: 96%;
  padding: auto;
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header{
  background-color: #e6f5ed;
  width: 96%;
  padding: auto;
  margin: auto;
}
.nav-item, .nav-link{
  color: #ff6754;
  background-color:white;
  border: solid 5px #e6f5ed;
  border-radius: 10px;
}
.jumbotron-fluid{
  background-color: #e6f5ed;
  height: 5vh;
}

.main-border{
  background-color:  #ff6754;
}

.main{
  width: 96%;
  border: solid 10px #ff6754;
  background-color: white;
  padding: auto;
  margin: auto;
  min-height: 100vh;
}

.form-main{
  background-image: url("https://i.picsum.photos/id/292/1200/700.jpg");
  padding: auto;
  margin: auto;
  min-height: 100vh;
  width: 96%;
  border: solid 10px #ff6754;
  background-color: white;
  vertical-align: center;
  position: relative;
}
.form-div {
  text-align: center;
  padding: auto;
  margin: auto;
  background-color: #e6f5ed;
}

.btn-primary{
  background-color: #ff6754;
  border: white;
}
