*{
font-family: 'Roboto', sans-serif;
}

h2{
    color: white;
    font-weight: 200;
    line-height: 2;
}

h3{
    color: #176e43;
    font-weight: 100;
    line-height: 2;
}


.form-div {
    text-align: center;
    padding: auto;
    margin: auto;
  }

.user-form{
    padding: 15px;
    background-color: #e6f5ed;
}

.btn-primary{
    background-color: #ff6754;
    border: white;
    font-weight: 200;
}

.btn-primary:hover, .btn-primary::selection, .btn-primary:active{
    background-color: #ff6754;
    border: white;
    font-weight: 200;
}

.recipe-container{
    text-align: center;
    margin: 20px auto 20px auto;
    padding: auto;
    width: 98%;

}

.detail-img{
    width: 100%;
}

.rec-label{
    font-family: pacifico;
    color: #b30b0b;
}

.tag{
    color: #ff6754;
    font-size: small;
    position: relative;
}

p.description{
    font-weight: 100;
    text-align: left;
    font-size: smaller;
}

.table-head, .table-body{
    font-size: smaller;
    line-height: 1;
    font-weight: 200;
}

label{
    font-family: 'Pacifico', cursive;
    color: #b31d0b;
    font-size: larger;
    text-align: center;
  }
  form{
    width: 98%;
    margin: 10px auto 10px auto;
    padding: auto;
    text-align: center;
  }
 
  .form-group{
    text-align: center;
  }
  
  .banner{
    margin-top: 5px;
    background-color: #78909c;
    line-height: 2;
    text-align: left;
    padding-left: 5px;
    color: white;
    font-size: x-large;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    margin-bottom: 10px;
  }

  .form-control{
      background-color: #e6f5ed;
      border: solid 1px #78909c;
 }

 #route-to-recipe{
     text-align: right;
 }

 .form-division{
     width: 80%;
     padding: auto;
     margin: auto;
 }

