*{
font-family: 'Roboto', sans-serif;
}

h2{
    color: white;
    font-weight: 100;
    line-height: 2;
}

.jumbotron-fluid{
    background-color: transparent;
    height: 10vh;
}

.nav-link{
    color: #ff6754;
    background-color:white;
}

.nav-item{
    padding: 2px;
   
}

.nav-link:active, .nav-link:hover{
    background-color:#ff6754;
    color: white;
}

.form-div {
    text-align: center;
    padding: auto;
    margin: auto;
  }

.user-form{
    padding: 15px;
    background-color: #e6f5ed;
}

.btn-primary{
    background-color: #ff6754;
    border: white;
}
