*{
font-family: 'Roboto', sans-serif;
}

h2{
    color: white;
    font-weight: 100;
    line-height: 2;
}

h3{
    color: #176e43;
    font-weight: 100;
    line-height: 2;
}


.form-div {
    text-align: center;
    padding: auto;
    margin: auto;
  }

.user-form{
    padding: 15px;
    background-color: #e6f5ed;
}

.btn-primary{
    background-color: #ff6754;
    border: white;
    font-weight: 200;
}

