

.logo{
    height: 150px;
    width: 150px;
    margin: 2px;
}


.nav-link{
    color: #ff6754;
    background-color:white;
    font-weight: 200;

    
}


.nav-item{
    padding: 2px;
   
}

.nav-link:active, .nav-link:hover, .nav-link.active {
    background-color:#ff6754;
    color: white;
    font-weight: 200;

}
