*{
    font-family: 'Roboto', sans-serif;
}
.card{
    border-top: solid 4px #78909c;
    border-left: solid 4px #78909c;
    border-right: solid 4px #78909c;
}
.recipe-desc{
    display: table-footer-group;
    color: white;
    background-color: #454343b6;
    z-index: 2;
    border-bottom: solid 4px #78909c;
    border-left: solid 4px #78909c;
    border-right: solid 4px #78909c;
    font-weight: 100;

}

.recipe-div{
    text-align: center;
    height: 260px;
}

.card-body{
    padding: 0px;
    margin: 0px;
    border: 0px;
    height: 400px;
    width: auto;
    max-height: 240px;
    /* background-color: blue; */
}

.like{
    z-index: 2;
    position: relative;
    display: inline;
}

