*{
    font-family: 'Roboto', sans-serif;
}
.card{
    border: solid white 2px;
    border-radius: 5px;
}

.card-container{
    margin-top: 20px;
    margin-bottom: 10px;
}

.card-title{
    font-weight: 100;
}

.recipe-div{
    text-align: center;
    height: 260px;
}

.card-body{
    padding: 0px;
    margin: 0px;
    border: 0px;
    width: auto;
    max-height: 240px;
    /* background-color: blue; */
}

.like{
    z-index: 2;
    position: relative;
    display: inline;
}


