.search-div{
    background-color: #e6f5ed;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.form-control.search{
    background-color: white;
    width: 210px;
    text-align: center
}

.search-button{
    border-radius: 5px;
    vertical-align: middle;
    padding: 5px;
    margin: 15px
}
